* {
    box-sizing: border-box;
    /* background-color: grey; */
}

h1{
    text-align: center;
}

#form{
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
}
input {
    border-color: rgb(118, 118, 118);
}

#personal-info input, #product-info input {
    width: 100%;
    margin-bottom: 10px;
}
fieldset {
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: rgb(118, 118, 118);
}
textarea {
    width: 100%;
    border-color: rgb(118, 118, 118);
}
#btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#submit-btn, #clear-btn {
    margin: 10px 15px 0;
}
.error-msg {
    margin-left: 10px;
    font-weight: bold;
    /* This ensures it stays on the same line as the input */
    display: inline-block; 
}

/* If the screen is small, put the error on a new line */
@media (max-width: 600px) {
    .error-msg {
        display: block;
        margin-left: 0;
        margin-top: 5px;
    }
}